<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PlanApp</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">PlanApp</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  <table>
		<tr>
		  <td><img style="width:35px" src="static/images/logo.png"></td>
          	  <td><a class="navbar-brand" href="#">PlanApp</a></td>
		</tr>
	  </table>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Inicio</a></li>
                <li><a href="#">Descarga</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <br><br><br>

      <div class="container">
        <div style="float: left; width:350px">
                <img style="width:200px" src="static/images/planapp.jpg">
        </div>
	        <h1>Consulta y disfruta!</h1>	
		<p align="justify">Quieres salir con amig@s, novi@ o familiares y no sabes que actividades hacer.</p>
		<p align="justify">Nosotros te ayudamos a planificar tus actividades. PlanApp te entrega una lista de actividades a realizar según acompañante, posición actual, eventos que pueden estar realizandoce en el momento o también eventos futuros.</p>
	        <p><a class="btn btn-primary btn-lg" role="button">Leer más</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
	  <!--<center><img style="width:270px;height:270px" src="static/images/logo.png" alt="..." class="img-circle"></center>-->
          <h2>Aplicación Movil</h2>
	  <p align="justify">Organiza tus planes desde lugar, invita tus amig@s, novi@ o familiares. Aplicación para dispositivos Android (smartphone, tablet).</p>
	  <p>Proximamente... </p>
          <p><a class="btn btn-default" href="#" role="button">Más detalles &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Registro</h2>
          <p>Registrarte en nuestro sistema y comienza a usar PlanApp de forma totalmente gratuita. Por esta vía nos ayudaras a recomendar planes más acorde a tus gustos y a los de tu acompañante.</p>
          <p><a class="btn btn-default" href="#" role="button">Más detalles  &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Acerca de Nosotros</h2>
          <p>El equipo de trabajo, información sobre los creadores de PlanApp. ¿Quienes somos, a que nos dedicamos?.</p>
          <p><a class="btn btn-default" href="#" role="button">Más detalles  &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; PlanApp 2014</p>
      </footer>
    </div> <!-- /container -->


  </body>
</html>

